.block img {
    max-width: 80%;
    height: auto;
}

.block {
    width: 50%;
    height: 50%;
}

.center {
    display: block;
    text-align: -webkit-center;
}

.body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font: 15px Tahoma;
    color: #555;
}
